/* Add these styles to CustomerHomePage.css */
 
.animationtext {
    position: relative;
    font-size: 3rem; /* Adjust size as needed */
  }
 
  .cd-words-wrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 1.2em; /* Adjust based on font size */
  }
 
  /* For the sliding and fading effect */
  .slide-text {
    display: inline-block;
    opacity: 0;
    transform: translateY(-100%);
    animation: fade-slide 4s infinite;
  }
 
  /* Keyframes for fade-out and slide-in effect */
  @keyframes fade-slide {
    0% {
      opacity: 0;
      transform: translateY(-100%); /* Start above the container */
    }
    25% {
      opacity: 1;
      transform: translateY(20%); /* Text slides into position */
    }
    75% {
      opacity: 1;
      transform: translateY(20%); /* Text stays in place */
    }
    100% {
      opacity: 0;
      transform: translateY(100%); /* Text slides out of view to the bottom */
    }
  }
 
  .Customer-title-large h1 span {
    animation: fade-slide 4s infinite;
  }
 
  /* Optional: You can add a delay to each word change if needed */
  @keyframes fadeInText {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
 
 
  .custom-bootstrap-button {
    background-color: white;
    border-color: #007bff;
    color: #333;
}
 
.custom-bootstrap-button:hover {
    background-color: #f0f0f0;
}
 
.arrow {
    margin-left: 5px;
    vertical-align: middle;
}
 
 
.flip-container {
    perspective: 1000px;
}
 
.flip-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    /* Maintain aspect ratio */
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
 
.flip-container:hover .flip-image {
    transform: rotateY(180deg);
}
 
.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center;
}
 
.flip-front {
    z-index: 2;
}
 
.flip-back {
    transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    /* Add overlay on the back */
}